# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
dist
dist-ssr
build
*.local

# Dependencies
node_modules

# Env
.env
.env.local
.env.*.local
!.env.example

# Supabase
.branches
.temp
supabase/.branches
supabase/.temp

# Vercel
.vercel

# TS build info
*.tsbuildinfo
